/* Este archivo contiene las hojas de estilo para anchoDeBordes.html */

/* Modificamos todos los elementos del documento */
*{
    font-family: Arial; 
    text-align: center; 
}
/* Clases para modificar la anchura del borde de un objeto */
    /* Borde con Palabra Clave en lugar de medida de anchura */
    .pClave{
        border: black solid thin;  
    }
    /* Borde con 4 Atributos de Anchura */
    .cuatroAttr{
        border-color: black; 
        border-style: double; 
        border-width: 10px 1px 5px 20px; /*Arriba Derecha Abajo Izquierda*/
    }
    /* Borde con 3 Atributos de Anchura */
    .tresAttr{
        border-color: black; 
        border-style: dashed; 
        border-width: 10px 20px 15px; /* Arriba (Derecha e Izquiera) Abajo */
    }
    /* Borde con 2 Atributos de Anchura */
    .dosAttr{
        border-color: black; 
        border-style: dotted; 
        border-width: 10px 5px; /* (Arriba y Abajo) (Derecha e Izquierda) */
    }
    /* Borde con 1 Atributo de Anchura */
    .unAttr{
        border: black solid 20px; 
    }